* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../images/fondo.png") no-repeat center center fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(11, 128, 11);
}

h1, h2, h3, p, li {
  margin: 0 1rem;
}

h1 {
  font-size: 30px;
  color: #720a75;
  transition: all 0.2s ease-in-out;
}
h1:hover {
  text-shadow: 0px 4px 8px rgba(61, 5, 63, 0.8);
  scale: 1.01;
}

h2 {
  font-size: 25px;
  color: #720a75;
  transition: all 0.2s ease-in-out;
}
h2:hover {
  text-shadow: 0px 4px 8px rgba(101, 27, 104, 0.8);
  scale: 1.01;
}

h3 {
  font-size: 20px;
  color: #720a75;
  transition: all 0.2s ease-in-out;
}
h3:hover {
  text-shadow: 0px 0px 10px rgba(248, 219, 248, 0.952);
  color: #db34b1;
}

p, li {
  font-size: 20px;
  color: #3d053f;
}

header {
  background-color: #f7b1ed;
  color: #3d053f;
  padding: 1.875rem;
  text-align: center;
}

header h1 {
  margin: 0 1rem;
  color: #db34b1;
  font-size: 2.25rem;
}
@media (min-width: 769px) {
  header h1 {
    font-size: 3.75rem;
  }
}

header .logo {
  width: 3.75rem;
}
@media (min-width: 769px) {
  header .logo {
    width: 6.25rem;
  }
}

nav {
  padding: 0.625rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 0.625rem;
}

nav li a {
  color: #ecf0f1;
}

nav li a:hover {
  color: #db34b1;
}

footer {
  background-color: #f7b1ed;
  color: #db34b1;
  text-align: center;
  padding: 0.625rem;
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.centrado {
  overflow: hidden;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}
.centrado:hover {
  box-shadow: 0px 0px 20px rgba(170, 255, 177, 0.8);
}

nav, .servicios, .presentacion, .footer-content {
  margin: 1rem;
}

img {
  width: 100%;
  margin: auto;
}

.btn, .btn-secundario, .btn-principal {
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  margin: 1rem;
  font-size: 20px;
  transition: background 0.3s ease-in-out;
}

.btn:hover, .btn-secundario:hover, .btn-principal:hover {
  opacity: 0.8;
}

.btn-principal {
  color: #db34b1;
  background-color: #f7b1ed;
}

.btn-secundario {
  color: #ecf0f1;
  background-color: rgb(11, 128, 11);
}

.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  text-align: left;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  transition: all 0.5s ease-in-out;
}
.centrado:hover {
  box-shadow: 0px 0px 20px rgba(170, 255, 177, 0.8);
}

img {
  border-radius: 0.7rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
img:hover {
  filter: saturate(180%);
  transform: scale(1.3);
}

/*# sourceMappingURL=styles.css.map */
