@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

// Globales

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

// *, *::before, *::after{
//     box-sizing: inherit;
// }

body{
    margin:0;
    padding:0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: url('../images/fondo.png');
    background-size: cover;
}

ul{
    list-style-type: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a{
    text-decoration: none;
    display: inline-block;
    color: $Contrast-color;
}


img{
    width:100%;
    height: auto;
}

nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin:auto;
}

.titulo-servicios, .presentacion, .servicios{
    margin-bottom: 5%;
    margin-top: 5%;
}

// Mis configuraciones

.horizontal{
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    @include caja-flex(center, center, nowrap)
}

.centrado{
    overflow:hidden;
    border-radius: 0.7rem;
    @include caja-flex(center, center, nowrap);
    transition:all .5s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 20px rgba(170, 255, 177, 0.8);
    }
}

.logo{
    width: 5rem;
}

section {
    margin: 3rem 0 3rem 0;

 }

img{
    border-radius: 0.7rem;
    transition:all .5s ease-in-out;
    overflow:hidden;
    &:hover {
        filter: saturate(180%);
        -webkit-transform:scale(1.3);
        transform:scale(1.3);
    }
}

// Tamaños de letra

h1{
    font-size: $font-h1;
    transition: background 0.3s ease-in-out;
    &:hover {
        scale: 1.01;
        color: $primary-color;
        text-shadow: 0px 4px 8px rgba(153, 35, 123, 0.87);
    }
}

h2{
    font-size: $font-h2;
    transition: background 0.3s ease-in-out;
    &:hover {
        scale: 1.01;
        position: relative;
        bottom: 0.1rem;
        left: 0.3rem;
        color: $primary-color;
    }
}

h3{
    font-size: $font-h3;
    transition: background 0.3s ease-in-out;
    &:hover {
        text-shadow: 0px 4px 8px rgba(255, 206, 248, 0.87);
        color: $primary-color;
    }
}

p, li{
    font-size: $font-p;
}

.btn{
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    margin: 1rem;
    font-size: $font-p;
    transition: background 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.btn-principal{
    @extend .btn;
    color: $primary-color;
    background-color: $secondary-color;
}

.btn-secundario{
    @extend .btn;
    color: $background-color;
    background-color: $Contrast-color;
}


