header {
    background-color: $secondary-color;
    color: $text-color;
    padding: calcularRem(30px);
    text-align: center;
  
    h1 {
      margin: 0 1rem;
      @include responsive-font(calcularRem(36px), calcularRem(60px));
      color: $primary-color;
    }

    .logo{
      @include responsive-tam(calcularRem(60px), calcularRem(100px));
    }
  }

  section{

    h1 {
      margin: 0 1rem;
      @include responsive-font(calcularRem(36px), calcularRem(60px));
      color: $title-color;
    }

    h2 {
      margin: 0 1rem;
      @include responsive-font(calcularRem(30px), calcularRem(50px));
      color: $title-color;
    }

    h3 {
      margin: 0 1rem;
      @include responsive-font(calcularRem(28px), calcularRem(40px));
      color: $title-color;
    }

    p {
      margin: 0 1rem;
      @include responsive-font(calcularRem(25px), calcularRem(35px));
      color: $text-color;
    }

  }
  
  nav {
    padding: calcularRem(10px);
  
    ul {
      @include center-content;
    }
  
    li {
      margin: 0 calcularRem(10px);
  
      a {
        color: $background-color;
  
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
    
  footer {
    background-color: $secondary-color;
    color: $primary-color;
    text-align: center;
    padding: calcularRem(10px);
  }