// Font size
$font-p: 20px;
$font-h1: 30px;
$font-h2: 25px;
$font-h3: 20px;

// Color
$primary-color: #db34b1;
$secondary-color: #f7b1ed;
$background-color: #ecf0f1;
$title-color: #720a75;
$text-color: #3d053f;
$Contrast-color: rgb(11, 128, 11);

// Font
$primary-font: 'Roboto, sans-serif';
$secondary-font: 'Georgia, serif';
$alternative-font: 'cursive';
$other: 'monospace';

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 769px;